@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" 
                name="culture" value="en-US" onchange="this.form.submit();" role="form">English</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" 
                name="culture" value="vi-VN" onchange="this.form.submit();" role="form">Vietnamese</a>
        </li>
    </ul>
</div>